In [2]:
#bus reservation system using Tinker with backend as mysql

from tkinter import *
import mysql.connector
import tkinter.messagebox
import datetime
import time

mydb = mysql.connector.connect(
    host="localhost",
    user="root",
    password="Yaswanth@02",
    database="bus"
)

mycursor = mydb.cursor()

root = Tk()
root.geometry("1600x800+0+0")
root.title("Bus Reservation System")

Tops = Frame(root, width=1600, height=50, bg="powder blue", relief=SUNKEN)
Tops.pack(side=TOP)

f1 = Frame(root, width=800, height=700, relief=SUNKEN)
f1.pack(side=LEFT)

f2 = Frame(root, width=300, height=700, relief=SUNKEN)
f2.pack(side=RIGHT)

#===================Time======================
localtime = time.asctime(time.localtime(time.time()))

#===================Info======================
lblInfo = Label(Tops, font=('arial', 50, 'bold'), text="Bus Reservation System", fg="Steel Blue", bd=10, anchor='w')
lblInfo.grid(row=0, column=0)
lblInfo = Label(Tops, font=('arial', 20, 'bold'), text=localtime, fg="Steel Blue", bd=10, anchor='w')
lblInfo.grid(row=1, column=0)

#===================Variables======================
var1 = StringVar()
var2 = StringVar()
var3 = StringVar()
var4 = StringVar()
var5 = StringVar()
var6 = StringVar()
var7 = StringVar()
var8 = StringVar()
var9 = StringVar()

#===================Functions======================
def iExit():
    iExit = tkinter.messagebox.askyesno("Bus Reservation System", "Confirm if you want to exit")
    if iExit > 0:
        root.destroy()
        return
    
def Reset():
    var1.set("")
    var2.set("")
    var3.set("")
    var4.set("")
    var5.set("")
    var6.set("")
    var7.set("")
    var8.set("")
    var9.set("")

def addBus():
    if (len(var1.get()) != 0):
        mycursor.execute("INSERT INTO bus VALUES(%s,%s,%s,%s,%s,%s,%s,%s,%s)", (
            var1.get(),
            var2.get(),
            var3.get(),
            var4.get(),
            var5.get(),
            var6.get(),
            var7.get(),
            var8.get(),
            var9.get()
        ))
        mydb.commit()
        tkinter.messagebox.showinfo("Bus Reservation System", "Record Added Successfully")
    else:
        tkinter.messagebox.showinfo("Bus Reservation System", "Please Enter Bus Number")


def displayBus():
    mycursor.execute("SELECT * FROM bus")
    result = mycursor.fetchall()
    if len(result) != 0:
        bus_record.delete(*bus_record.get_children())
        for row in result:
            bus_record.insert('', END, values=row)
        mydb.commit()
    else:
        tkinter.messagebox.showinfo("Bus Reservation System", "No Record Found")

def searchBus():
    if (len(var1.get()) != 0):
        mycursor.execute("SELECT * FROM bus WHERE bus_no=%s", (var1.get(),))
        result = mycursor.fetchall()
        if len(result) != 0:
            bus_record.delete(*bus_record.get_children())
            for row in result:
                bus_record.insert('', END, values=row)
            mydb.commit()
        else:
            tkinter.messagebox.showinfo("Bus Reservation System", "No Record Found")
    else:
        tkinter.messagebox.showinfo("Bus Reservation System", "Please Enter Bus Number")

def deleteBus():
    if (len(var1.get()) != 0):
        mycursor.execute("DELETE FROM bus WHERE bus_no=%s", (var1.get(),))
        mydb.commit()
        tkinter.messagebox.showinfo("Bus Reservation System", "Record Deleted Successfully")
    else:
        tkinter.messagebox.showinfo("Bus Reservation System", "Please Enter Bus Number")

def updateBus():
    if (len(var1.get()) != 0):
        mycursor.execute("UPDATE bus SET bus_name=%s, source=%s, destination=%s, departure_time=%s, arrival_time=%s, fare=%s, seats=%s, date=%s WHERE bus_no=%s", (
            var2.get(),
            var3.get(),
            var4.get(),
            var5.get(),
            var6.get(),
            var7.get(),
            var8.get(),
            var9.get(),
            var1.get()
        ))
        mydb.commit()
        tkinter.messagebox.showinfo("Bus Reservation System", "Record Updated Successfully")
    else:
        tkinter.messagebox.showinfo("Bus Reservation System", "Please Enter Bus Number")

def getBus(ev):
    viewInfo = bus_record.focus()
    learnerInfo = bus_record.item(viewInfo)
    row = learnerInfo['values']
    var1.set(row[0])
    var2.set(row[1])
    var3.set(row[2])
    var4.set(row[3])
    var5.set(row[4])
    var6.set(row[5])
    var7.set(row[6])
    var8.set(row[7])
    var9.set(row[8])

#===================Labels======================
lblBusNo = Label(f1, font=('arial', 16, 'bold'), text="Bus Number", bd=16, anchor="w")
lblBusNo.grid(row=0, column=0)
lblBusName = Label(f1, font=('arial', 16, 'bold'), text="Bus Name", bd=16, anchor="w")
lblBusName.grid(row=1, column=0)
lblSource = Label(f1, font=('arial', 16, 'bold'), text="Source", bd=16, anchor="w")
lblSource.grid(row=2, column=0)
lblDestination = Label(f1, font=('arial', 16, 'bold'), text="Destination", bd=16, anchor="w")
lblDestination.grid(row=3, column=0)
lblDepartureTime = Label(f1, font=('arial', 16, 'bold'), text="Departure Time", bd=16, anchor="w")
lblDepartureTime.grid(row=4, column=0)
lblArrivalTime = Label(f1, font=('arial', 16, 'bold'), text="Arrival Time", bd=16, anchor="w")
lblArrivalTime.grid(row=5, column=0)
lblFare = Label(f1, font=('arial', 16, 'bold'), text="Fare", bd=16, anchor="w")
lblFare.grid(row=6, column=0)
lblSeats = Label(f1, font=('arial', 16, 'bold'), text="Seats", bd=16, anchor="w")
lblSeats.grid(row=7, column=0)
lblDate = Label(f1, font=('arial', 16, 'bold'), text="Date", bd=16, anchor="w")
lblDate.grid(row=8, column=0)


#===================Entry======================
txtBusNo = Entry(f1, font=('arial', 16, 'bold'), textvariable=var1, bd=10, insertwidth=4, bg="powder blue", justify='right')\
    .grid(row=0, column=1)
txtBusName = Entry(f1, font=('arial', 16, 'bold'), textvariable=var2, bd=10, insertwidth=4, bg="powder blue", justify='right')\
    .grid(row=1, column=1)
txtSource = Entry(f1, font=('arial', 16, 'bold'), textvariable=var3, bd=10, insertwidth=4, bg="powder blue", justify='right')\
    .grid(row=2, column=1)
txtDestination = Entry(f1, font=('arial', 16, 'bold'), textvariable=var4, bd=10, insertwidth=4, bg="powder blue", justify='right')\
    .grid(row=3, column=1)
txtDepartureTime = Entry(f1, font=('arial', 16, 'bold'), textvariable=var5, bd=10, insertwidth=4, bg="powder blue", justify='right')\
    .grid(row=4, column=1)

txtArrivalTime = Entry(f1, font=('arial', 16, 'bold'), textvariable=var6, bd=10, insertwidth=4, bg="powder blue", justify='right')\
    .grid(row=5, column=1)

txtFare = Entry(f1, font=('arial', 16, 'bold'), textvariable=var7, bd=10, insertwidth=4, bg="powder blue", justify='right')\
    .grid(row=6, column=1)

txtSeats = Entry(f1, font=('arial', 16, 'bold'), textvariable=var8, bd=10, insertwidth=4, bg="powder blue", justify='right')\
    .grid(row=7, column=1)

txtDate = Entry(f1, font=('arial', 16, 'bold'), textvariable=var9, bd=10, insertwidth=4, bg="powder blue", justify='right')\
    .grid(row=8, column=1)

#===================Buttons======================
btnAdd = Button(f1, padx=16, pady=8, bd=16, fg="black", font=('arial', 16, 'bold'), width=10, text="Add", bg="powder blue", command=addBus)\
    .grid(row=9, column=0)
btnDisplay = Button(f1, padx=16, pady=8, bd=16, fg="black", font=('arial', 16, 'bold'), width=10, text="Display", bg="powder blue", command=displayBus)\
    .grid(row=9, column=1)
btnDelete = Button(f1, padx=16, pady=8, bd=16, fg="black", font=('arial', 16, 'bold'), width=10, text="Delete", bg="powder blue", command=deleteBus)\
    .grid(row=9, column=2)
btnUpdate = Button(f1, padx=16, pady=8, bd=16, fg="black", font=('arial', 16, 'bold'), width=10, text="Update", bg="powder blue", command=updateBus)\
    .grid(row=9, column=3)
# btnReset = Button(f1, padx=16, pady=8, bd=16, fg="black", font=('arial', 16, 'bold'), width=10, text="Reset", bg="powder blue", command=reset)\
#     .grid(row=9, column=4)
btnExit = Button(f1, padx=16, pady=8, bd=16, fg="black", font=('arial', 16, 'bold'), width=10, text="Exit", bg="powder blue", command=exit)
btnExit.grid(row=9, column=5)

root.mainloop()

Exception in Tkinter callback
Traceback (most recent call last):
  File "d:\Users\YASWANTH\anaconda3\envs\tf\lib\site-packages\mysql\connector\connection_cext.py", line 570, in cmd_query
    query_attrs=self._query_attrs,
_mysql_connector.MySQLInterfaceError: Table 'bus.bus' doesn't exist

The above exception was the direct cause of the following exception:

Traceback (most recent call last):
  File "d:\Users\YASWANTH\anaconda3\envs\tf\lib\tkinter\__init__.py", line 1705, in __call__
    return self.func(*args)
  File "<ipython-input-2-bcabd2fd9af8>", line 80, in addBus
    var9.get()
  File "d:\Users\YASWANTH\anaconda3\envs\tf\lib\site-packages\mysql\connector\cursor_cext.py", line 283, in execute
    raw_as_string=self._raw_as_string,
  File "d:\Users\YASWANTH\anaconda3\envs\tf\lib\site-packages\mysql\connector\connection_cext.py", line 575, in cmd_query
    ) from err
mysql.connector.errors.ProgrammingError: 1146 (42S02): Table 'bus.bus' doesn't exist
Exception in Tkinter callback
Traceback (most recent call last):
  File "d:\Users\YASWANTH\anaconda3\envs\tf\lib\site-packages\mysql\connector\connection_cext.py", line 570, in cmd_query
    query_attrs=self._query_attrs,
_mysql_connector.MySQLInterfaceError: Table 'bus.bus' doesn't exist

The above exception was the direct cause of the following exception:

Traceback (most recent call last):
  File "d:\Users\YASWANTH\anaconda3\envs\tf\lib\tkinter\__init__.py", line 1705, in __call__
    return self.func(*args)
  File "<ipython-input-2-bcabd2fd9af8>", line 80, in addBus
    var9.get()
  File "d:\Users\YASWANTH\anaconda3\envs\tf\lib\site-packages\mysql\connector\cursor_cext.py", line 283, in execute
    raw_as_string=self._raw_as_string,
  File "d:\Users\YASWANTH\anaconda3\envs\tf\lib\site-packages\mysql\connector\connection_cext.py", line 575, in cmd_query
    ) from err
mysql.connector.errors.ProgrammingError: 1146 (42S02): Table 'bus.bus' doesn't exist
Exception in Tkinter callback
Traceback (most recent call last):
  File "d:\Users\YASWANTH\anaconda3\envs\tf\lib\site-packages\mysql\connector\connection_cext.py", line 570, in cmd_query
    query_attrs=self._query_attrs,
_mysql_connector.MySQLInterfaceError: Table 'bus.bus' doesn't exist

The above exception was the direct cause of the following exception:

Traceback (most recent call last):
  File "d:\Users\YASWANTH\anaconda3\envs\tf\lib\tkinter\__init__.py", line 1705, in __call__
    return self.func(*args)
  File "<ipython-input-2-bcabd2fd9af8>", line 80, in addBus
    var9.get()
  File "d:\Users\YASWANTH\anaconda3\envs\tf\lib\site-packages\mysql\connector\cursor_cext.py", line 283, in execute
    raw_as_string=self._raw_as_string,
  File "d:\Users\YASWANTH\anaconda3\envs\tf\lib\site-packages\mysql\connector\connection_cext.py", line 575, in cmd_query
    ) from err
mysql.connector.errors.ProgrammingError: 1146 (42S02): Table 'bus.bus' doesn't exist
Exception in Tkinter callback
Traceback (most recent call last):
  File "d:\Users\YASWANTH\anaconda3\envs\tf\lib\site-packages\mysql\connector\connection_cext.py", line 570, in cmd_query
    query_attrs=self._query_attrs,
_mysql_connector.MySQLInterfaceError: Table 'bus.bus' doesn't exist

The above exception was the direct cause of the following exception:

Traceback (most recent call last):
  File "d:\Users\YASWANTH\anaconda3\envs\tf\lib\tkinter\__init__.py", line 1705, in __call__
    return self.func(*args)
  File "<ipython-input-2-bcabd2fd9af8>", line 89, in displayBus
    mycursor.execute("SELECT * FROM bus")
  File "d:\Users\YASWANTH\anaconda3\envs\tf\lib\site-packages\mysql\connector\cursor_cext.py", line 283, in execute
    raw_as_string=self._raw_as_string,
  File "d:\Users\YASWANTH\anaconda3\envs\tf\lib\site-packages\mysql\connector\connection_cext.py", line 575, in cmd_query
    ) from err
mysql.connector.errors.ProgrammingError: 1146 (42S02): Table 'bus.bus' doesn't exist
Exception in Tkinter callback
Traceback (most recent call last):
  File "d:\Users\YASWANTH\anaconda3\envs\tf\lib\site-packages\mysql\connector\connection_cext.py", line 570, in cmd_query
    query_attrs=self._query_attrs,
_mysql_connector.MySQLInterfaceError: Table 'bus.bus' doesn't exist

The above exception was the direct cause of the following exception:

Traceback (most recent call last):
  File "d:\Users\YASWANTH\anaconda3\envs\tf\lib\tkinter\__init__.py", line 1705, in __call__
    return self.func(*args)
  File "<ipython-input-2-bcabd2fd9af8>", line 89, in displayBus
    mycursor.execute("SELECT * FROM bus")
  File "d:\Users\YASWANTH\anaconda3\envs\tf\lib\site-packages\mysql\connector\cursor_cext.py", line 283, in execute
    raw_as_string=self._raw_as_string,
  File "d:\Users\YASWANTH\anaconda3\envs\tf\lib\site-packages\mysql\connector\connection_cext.py", line 575, in cmd_query
    ) from err
mysql.connector.errors.ProgrammingError: 1146 (42S02): Table 'bus.bus' doesn't exist
Exception in Tkinter callback
Traceback (most recent call last):
  File "d:\Users\YASWANTH\anaconda3\envs\tf\lib\site-packages\mysql\connector\connection_cext.py", line 570, in cmd_query
    query_attrs=self._query_attrs,
_mysql_connector.MySQLInterfaceError: Table 'bus.bus' doesn't exist

The above exception was the direct cause of the following exception:

Traceback (most recent call last):
  File "d:\Users\YASWANTH\anaconda3\envs\tf\lib\tkinter\__init__.py", line 1705, in __call__
    return self.func(*args)
  File "<ipython-input-2-bcabd2fd9af8>", line 89, in displayBus
    mycursor.execute("SELECT * FROM bus")
  File "d:\Users\YASWANTH\anaconda3\envs\tf\lib\site-packages\mysql\connector\cursor_cext.py", line 283, in execute
    raw_as_string=self._raw_as_string,
  File "d:\Users\YASWANTH\anaconda3\envs\tf\lib\site-packages\mysql\connector\connection_cext.py", line 575, in cmd_query
    ) from err
mysql.connector.errors.ProgrammingError: 1146 (42S02): Table 'bus.bus' doesn't exist
Exception in Tkinter callback
Traceback (most recent call last):
  File "d:\Users\YASWANTH\anaconda3\envs\tf\lib\site-packages\mysql\connector\connection_cext.py", line 570, in cmd_query
    query_attrs=self._query_attrs,
_mysql_connector.MySQLInterfaceError: Table 'bus.bus' doesn't exist

The above exception was the direct cause of the following exception:

Traceback (most recent call last):
  File "d:\Users\YASWANTH\anaconda3\envs\tf\lib\tkinter\__init__.py", line 1705, in __call__
    return self.func(*args)
  File "<ipython-input-2-bcabd2fd9af8>", line 115, in deleteBus
    mycursor.execute("DELETE FROM bus WHERE bus_no=%s", (var1.get(),))
  File "d:\Users\YASWANTH\anaconda3\envs\tf\lib\site-packages\mysql\connector\cursor_cext.py", line 283, in execute
    raw_as_string=self._raw_as_string,
  File "d:\Users\YASWANTH\anaconda3\envs\tf\lib\site-packages\mysql\connector\connection_cext.py", line 575, in cmd_query
    ) from err
mysql.connector.errors.ProgrammingError: 1146 (42S02): Table 'bus.bus' doesn't exist
Exception in Tkinter callback
Traceback (most recent call last):
  File "d:\Users\YASWANTH\anaconda3\envs\tf\lib\site-packages\mysql\connector\connection_cext.py", line 570, in cmd_query
    query_attrs=self._query_attrs,
_mysql_connector.MySQLInterfaceError: Table 'bus.bus' doesn't exist

The above exception was the direct cause of the following exception:

Traceback (most recent call last):
  File "d:\Users\YASWANTH\anaconda3\envs\tf\lib\tkinter\__init__.py", line 1705, in __call__
    return self.func(*args)
  File "<ipython-input-2-bcabd2fd9af8>", line 115, in deleteBus
    mycursor.execute("DELETE FROM bus WHERE bus_no=%s", (var1.get(),))
  File "d:\Users\YASWANTH\anaconda3\envs\tf\lib\site-packages\mysql\connector\cursor_cext.py", line 283, in execute
    raw_as_string=self._raw_as_string,
  File "d:\Users\YASWANTH\anaconda3\envs\tf\lib\site-packages\mysql\connector\connection_cext.py", line 575, in cmd_query
    ) from err
mysql.connector.errors.ProgrammingError: 1146 (42S02): Table 'bus.bus' doesn't exist
Exception in Tkinter callback
Traceback (most recent call last):
  File "d:\Users\YASWANTH\anaconda3\envs\tf\lib\site-packages\mysql\connector\connection_cext.py", line 570, in cmd_query
    query_attrs=self._query_attrs,
_mysql_connector.MySQLInterfaceError: Table 'bus.bus' doesn't exist

The above exception was the direct cause of the following exception:

Traceback (most recent call last):
  File "d:\Users\YASWANTH\anaconda3\envs\tf\lib\tkinter\__init__.py", line 1705, in __call__
    return self.func(*args)
  File "<ipython-input-2-bcabd2fd9af8>", line 115, in deleteBus
    mycursor.execute("DELETE FROM bus WHERE bus_no=%s", (var1.get(),))
  File "d:\Users\YASWANTH\anaconda3\envs\tf\lib\site-packages\mysql\connector\cursor_cext.py", line 283, in execute
    raw_as_string=self._raw_as_string,
  File "d:\Users\YASWANTH\anaconda3\envs\tf\lib\site-packages\mysql\connector\connection_cext.py", line 575, in cmd_query
    ) from err
mysql.connector.errors.ProgrammingError: 1146 (42S02): Table 'bus.bus' doesn't exist
Exception in Tkinter callback
Traceback (most recent call last):
  File "d:\Users\YASWANTH\anaconda3\envs\tf\lib\site-packages\mysql\connector\connection_cext.py", line 570, in cmd_query
    query_attrs=self._query_attrs,
_mysql_connector.MySQLInterfaceError: Table 'bus.bus' doesn't exist

The above exception was the direct cause of the following exception:

Traceback (most recent call last):
  File "d:\Users\YASWANTH\anaconda3\envs\tf\lib\tkinter\__init__.py", line 1705, in __call__
    return self.func(*args)
  File "<ipython-input-2-bcabd2fd9af8>", line 132, in updateBus
    var1.get()
  File "d:\Users\YASWANTH\anaconda3\envs\tf\lib\site-packages\mysql\connector\cursor_cext.py", line 283, in execute
    raw_as_string=self._raw_as_string,
  File "d:\Users\YASWANTH\anaconda3\envs\tf\lib\site-packages\mysql\connector\connection_cext.py", line 575, in cmd_query
    ) from err
mysql.connector.errors.ProgrammingError: 1146 (42S02): Table 'bus.bus' doesn't exist
Exception in Tkinter callback
Traceback (most recent call last):
  File "d:\Users\YASWANTH\anaconda3\envs\tf\lib\site-packages\mysql\connector\connection_cext.py", line 570, in cmd_query
    query_attrs=self._query_attrs,
_mysql_connector.MySQLInterfaceError: Table 'bus.bus' doesn't exist

The above exception was the direct cause of the following exception:

Traceback (most recent call last):
  File "d:\Users\YASWANTH\anaconda3\envs\tf\lib\tkinter\__init__.py", line 1705, in __call__
    return self.func(*args)
  File "<ipython-input-2-bcabd2fd9af8>", line 132, in updateBus
    var1.get()
  File "d:\Users\YASWANTH\anaconda3\envs\tf\lib\site-packages\mysql\connector\cursor_cext.py", line 283, in execute
    raw_as_string=self._raw_as_string,
  File "d:\Users\YASWANTH\anaconda3\envs\tf\lib\site-packages\mysql\connector\connection_cext.py", line 575, in cmd_query
    ) from err
mysql.connector.errors.ProgrammingError: 1146 (42S02): Table 'bus.bus' doesn't exist
Exception in Tkinter callback
Traceback (most recent call last):
  File "d:\Users\YASWANTH\anaconda3\envs\tf\lib\site-packages\mysql\connector\connection_cext.py", line 570, in cmd_query
    query_attrs=self._query_attrs,
_mysql_connector.MySQLInterfaceError: Table 'bus.bus' doesn't exist

The above exception was the direct cause of the following exception:

Traceback (most recent call last):
  File "d:\Users\YASWANTH\anaconda3\envs\tf\lib\tkinter\__init__.py", line 1705, in __call__
    return self.func(*args)
  File "<ipython-input-2-bcabd2fd9af8>", line 132, in updateBus
    var1.get()
  File "d:\Users\YASWANTH\anaconda3\envs\tf\lib\site-packages\mysql\connector\cursor_cext.py", line 283, in execute
    raw_as_string=self._raw_as_string,
  File "d:\Users\YASWANTH\anaconda3\envs\tf\lib\site-packages\mysql\connector\connection_cext.py", line 575, in cmd_query
    ) from err
mysql.connector.errors.ProgrammingError: 1146 (42S02): Table 'bus.bus' doesn't exist
Exception in Tkinter callback
Traceback (most recent call last):
  File "d:\Users\YASWANTH\anaconda3\envs\tf\lib\site-packages\mysql\connector\connection_cext.py", line 570, in cmd_query
    query_attrs=self._query_attrs,
_mysql_connector.MySQLInterfaceError: Table 'bus.bus' doesn't exist

The above exception was the direct cause of the following exception:

Traceback (most recent call last):
  File "d:\Users\YASWANTH\anaconda3\envs\tf\lib\tkinter\__init__.py", line 1705, in __call__
    return self.func(*args)
  File "<ipython-input-2-bcabd2fd9af8>", line 80, in addBus
    var9.get()
  File "d:\Users\YASWANTH\anaconda3\envs\tf\lib\site-packages\mysql\connector\cursor_cext.py", line 283, in execute
    raw_as_string=self._raw_as_string,
  File "d:\Users\YASWANTH\anaconda3\envs\tf\lib\site-packages\mysql\connector\connection_cext.py", line 575, in cmd_query
    ) from err
mysql.connector.errors.ProgrammingError: 1146 (42S02): Table 'bus.bus' doesn't exist
Exception in Tkinter callback
Traceback (most recent call last):
  File "d:\Users\YASWANTH\anaconda3\envs\tf\lib\site-packages\mysql\connector\connection_cext.py", line 570, in cmd_query
    query_attrs=self._query_attrs,
_mysql_connector.MySQLInterfaceError: Table 'bus.bus' doesn't exist

The above exception was the direct cause of the following exception:

Traceback (most recent call last):
  File "d:\Users\YASWANTH\anaconda3\envs\tf\lib\tkinter\__init__.py", line 1705, in __call__
    return self.func(*args)
  File "<ipython-input-2-bcabd2fd9af8>", line 80, in addBus
    var9.get()
  File "d:\Users\YASWANTH\anaconda3\envs\tf\lib\site-packages\mysql\connector\cursor_cext.py", line 283, in execute
    raw_as_string=self._raw_as_string,
  File "d:\Users\YASWANTH\anaconda3\envs\tf\lib\site-packages\mysql\connector\connection_cext.py", line 575, in cmd_query
    ) from err
mysql.connector.errors.ProgrammingError: 1146 (42S02): Table 'bus.bus' doesn't exist
Exception in Tkinter callback
Traceback (most recent call last):
  File "d:\Users\YASWANTH\anaconda3\envs\tf\lib\site-packages\mysql\connector\connection_cext.py", line 570, in cmd_query
    query_attrs=self._query_attrs,
_mysql_connector.MySQLInterfaceError: Table 'bus.bus' doesn't exist

The above exception was the direct cause of the following exception:

Traceback (most recent call last):
  File "d:\Users\YASWANTH\anaconda3\envs\tf\lib\tkinter\__init__.py", line 1705, in __call__
    return self.func(*args)
  File "<ipython-input-2-bcabd2fd9af8>", line 80, in addBus
    var9.get()
  File "d:\Users\YASWANTH\anaconda3\envs\tf\lib\site-packages\mysql\connector\cursor_cext.py", line 283, in execute
    raw_as_string=self._raw_as_string,
  File "d:\Users\YASWANTH\anaconda3\envs\tf\lib\site-packages\mysql\connector\connection_cext.py", line 575, in cmd_query
    ) from err
mysql.connector.errors.ProgrammingError: 1146 (42S02): Table 'bus.bus' doesn't exist
Exception in Tkinter callback
Traceback (most recent call last):
  File "d:\Users\YASWANTH\anaconda3\envs\tf\lib\site-packages\mysql\connector\connection_cext.py", line 570, in cmd_query
    query_attrs=self._query_attrs,
_mysql_connector.MySQLInterfaceError: Table 'bus.bus' doesn't exist

The above exception was the direct cause of the following exception:

Traceback (most recent call last):
  File "d:\Users\YASWANTH\anaconda3\envs\tf\lib\tkinter\__init__.py", line 1705, in __call__
    return self.func(*args)
  File "<ipython-input-2-bcabd2fd9af8>", line 80, in addBus
    var9.get()
  File "d:\Users\YASWANTH\anaconda3\envs\tf\lib\site-packages\mysql\connector\cursor_cext.py", line 283, in execute
    raw_as_string=self._raw_as_string,
  File "d:\Users\YASWANTH\anaconda3\envs\tf\lib\site-packages\mysql\connector\connection_cext.py", line 575, in cmd_query
    ) from err
mysql.connector.errors.ProgrammingError: 1146 (42S02): Table 'bus.bus' doesn't exist
Exception in Tkinter callback
Traceback (most recent call last):
  File "d:\Users\YASWANTH\anaconda3\envs\tf\lib\site-packages\mysql\connector\connection_cext.py", line 570, in cmd_query
    query_attrs=self._query_attrs,
_mysql_connector.MySQLInterfaceError: Table 'bus.bus' doesn't exist

The above exception was the direct cause of the following exception:

Traceback (most recent call last):
  File "d:\Users\YASWANTH\anaconda3\envs\tf\lib\tkinter\__init__.py", line 1705, in __call__
    return self.func(*args)
  File "<ipython-input-2-bcabd2fd9af8>", line 80, in addBus
    var9.get()
  File "d:\Users\YASWANTH\anaconda3\envs\tf\lib\site-packages\mysql\connector\cursor_cext.py", line 283, in execute
    raw_as_string=self._raw_as_string,
  File "d:\Users\YASWANTH\anaconda3\envs\tf\lib\site-packages\mysql\connector\connection_cext.py", line 575, in cmd_query
    ) from err
mysql.connector.errors.ProgrammingError: 1146 (42S02): Table 'bus.bus' doesn't exist
Exception in Tkinter callback
Traceback (most recent call last):
  File "d:\Users\YASWANTH\anaconda3\envs\tf\lib\site-packages\mysql\connector\connection_cext.py", line 570, in cmd_query
    query_attrs=self._query_attrs,
_mysql_connector.MySQLInterfaceError: Table 'bus.bus' doesn't exist

The above exception was the direct cause of the following exception:

Traceback (most recent call last):
  File "d:\Users\YASWANTH\anaconda3\envs\tf\lib\tkinter\__init__.py", line 1705, in __call__
    return self.func(*args)
  File "<ipython-input-2-bcabd2fd9af8>", line 80, in addBus
    var9.get()
  File "d:\Users\YASWANTH\anaconda3\envs\tf\lib\site-packages\mysql\connector\cursor_cext.py", line 283, in execute
    raw_as_string=self._raw_as_string,
  File "d:\Users\YASWANTH\anaconda3\envs\tf\lib\site-packages\mysql\connector\connection_cext.py", line 575, in cmd_query
    ) from err
mysql.connector.errors.ProgrammingError: 1146 (42S02): Table 'bus.bus' doesn't exist
Exception in Tkinter callback
Traceback (most recent call last):
  File "d:\Users\YASWANTH\anaconda3\envs\tf\lib\site-packages\mysql\connector\connection_cext.py", line 570, in cmd_query
    query_attrs=self._query_attrs,
_mysql_connector.MySQLInterfaceError: Table 'bus.bus' doesn't exist

The above exception was the direct cause of the following exception:

Traceback (most recent call last):
  File "d:\Users\YASWANTH\anaconda3\envs\tf\lib\tkinter\__init__.py", line 1705, in __call__
    return self.func(*args)
  File "<ipython-input-2-bcabd2fd9af8>", line 80, in addBus
    var9.get()
  File "d:\Users\YASWANTH\anaconda3\envs\tf\lib\site-packages\mysql\connector\cursor_cext.py", line 283, in execute
    raw_as_string=self._raw_as_string,
  File "d:\Users\YASWANTH\anaconda3\envs\tf\lib\site-packages\mysql\connector\connection_cext.py", line 575, in cmd_query
    ) from err
mysql.connector.errors.ProgrammingError: 1146 (42S02): Table 'bus.bus' doesn't exist
Exception in Tkinter callback
Traceback (most recent call last):
  File "d:\Users\YASWANTH\anaconda3\envs\tf\lib\site-packages\mysql\connector\connection_cext.py", line 570, in cmd_query
    query_attrs=self._query_attrs,
_mysql_connector.MySQLInterfaceError: Table 'bus.bus' doesn't exist

The above exception was the direct cause of the following exception:

Traceback (most recent call last):
  File "d:\Users\YASWANTH\anaconda3\envs\tf\lib\tkinter\__init__.py", line 1705, in __call__
    return self.func(*args)
  File "<ipython-input-2-bcabd2fd9af8>", line 80, in addBus
    var9.get()
  File "d:\Users\YASWANTH\anaconda3\envs\tf\lib\site-packages\mysql\connector\cursor_cext.py", line 283, in execute
    raw_as_string=self._raw_as_string,
  File "d:\Users\YASWANTH\anaconda3\envs\tf\lib\site-packages\mysql\connector\connection_cext.py", line 575, in cmd_query
    ) from err
mysql.connector.errors.ProgrammingError: 1146 (42S02): Table 'bus.bus' doesn't exist
Exception in Tkinter callback
Traceback (most recent call last):
  File "d:\Users\YASWANTH\anaconda3\envs\tf\lib\site-packages\mysql\connector\connection_cext.py", line 570, in cmd_query
    query_attrs=self._query_attrs,
_mysql_connector.MySQLInterfaceError: Table 'bus.bus' doesn't exist


:

In [7]:
# #add buses
# def addBus():
#     busNo = var1.get()
#     busName = var2.get()
#     source = var3.get()
#     destination = var4.get()
#     departureTime = var5.get()
#     arrivalTime = var6.get()
#     fare = var7.get()
#     seats = var8.get()
#     date = var9.get()

#     if busNo == "" or busName == "" or source == "" or destination == "" or departureTime == "" or arrivalTime == "" or fare == "" or seats == "" or date == "":
#         messagebox.showerror("Error", "All fields are required")
#     else:
#         try:
#             con = mysql.connect(host="localhost", user="root", password="root", database="bus")
#             cursor = con.cursor()
#             cursor.execute("insert into bus values(%s, %s, %s, %s, %s, %s, %s, %s, %s)", (busNo, busName, source, destination, departureTime, arrivalTime, fare, seats, date))
#             cursor.execute("commit")
#             displayBus()
#             messagebox.showinfo("Success", "Record added successfully")
#         except:
#             messagebox.showerror("Error", "Cannot add data into Database")
#         finally:
#             var1.set("")
#             var2.set("")
#             var3.set("")
#             var4.set("")
#             var5.set("")
#             var6.set("")
#             var7.set("")
#             var8.set("")
#             var9.set("")
#             cursor.close()
#             con.close()

# #display buses
# def displayBus():
#     con = mysql.connect(host="localhost", user="root", password="Yaswanth@02", database="bus")
#     cursor = con.cursor()
#     cursor.execute("select * from bus")

#     rows = cursor.fetchall()
#     if len(rows) != 0:
#         busList.delete(*busList.get_children())
#         for row in rows:
#             busList.insert('', END, values=row)
#         con.commit()
#     cursor.close()
#     con.close()


# #delete buses
# def deleteBus():
#     if not busList.selection():
#         messagebox.showerror("Error", "Select a bus to delete")
#     else:
#         result = messagebox.askquestion("Confirm", "Are you sure you want to delete this bus?", icon="warning")
#         if result == "yes":
#             curItem = busList.focus()
#             contents = busList.item(curItem)
#             selecteditem = contents['values']
#             con = mysql.connect(host="localhost", user="root", password="Yaswanth@02", database="bus")
#             cursor = con.cursor()
#             cursor.execute("delete from bus where busNo=%s", selecteditem[0])
#             con.commit()
#             cursor.close()
#             con.close()
#             displayBus()

# #update buses
# def updateBus():
#     q = messagebox.askquestion("Confirm", "Are you sure you want to update this bus?", icon="warning")
#     if q == "yes":
#         busNo = var1.get()
#         busName = var2.get()
#         source = var3.get()
#         destination = var4.get()
#         departureTime = var5.get()
#         arrivalTime = var6.get()
#         fare = var7.get()
#         seats = var8.get()
#         date = var9.get()

#         if busNo == "" or busName == "" or source == "" or destination == "" or departureTime == "" or arrivalTime == "" or fare == "" or seats == "" or date == "":
#             messagebox.showerror("Error", "All fields are required")
#         else:
#             try:
#                 con = mysql.connect(host="localhost", user="root", password="Yaswanth@02", database="bus")
#                 cursor = con.cursor()
#                 cursor.execute("update bus set busName=%s, source=%s, destination=%s, departureTime=%s, arrivalTime=%s, fare=%s, seats=%s, date=%s where busNo=%s", (busName, source, destination, departureTime, arrivalTime, fare, seats, date, busNo))
#                 cursor.execute("commit")
#                 displayBus()
#                 messagebox.showinfo("Success", "Record updated successfully")
#             except:
#                 messagebox.showerror("Error", "Cannot update data into Database")
#             finally:
#                 var1.set("")
#                 var2.set("")
#                 var3.set("")
#                 var4.set("")
#                 var5.set("")
#                 var6.set("")
#                 var7.set("")
#                 var8.set("")
#                 var9.set("")
#                 cursor.close()
#                 con.close()

# #reset
# def reset():
#     var1.set("")
#     var2.set("")
#     var3.set("")
#     var4.set("")
#     var5.set("")
#     var6.set("")
#     var7.set("")
#     var8.set("")
#     var9.set("")
#     displayBus()

# #exit
# def exit():
#     q = messagebox.askquestion("Confirm", "Are you sure you want to exit?", icon="warning")
#     if q == "yes":
#         root.destroy()

# #search
# def search():
#     con = mysql.connect(host="localhost"
#     cursor = con.cursor()
#     cursor.execute("select * from bus where busNo=%s", (var1.get()))
#     rows = cursor.fetchall()
#     if len(rows) != 0:
#         busList.delete(*busList.get_children())
#         for row in rows:
#             busList.insert('', END, values=row)
#         con.commit()
#     cursor.close()
#     con.close()

# #search by bus name
# def searchBusName():
#     con = mysql.connect(host="localhost"
#     cursor = con.cursor()
#     cursor.execute("select * from bus where busName=%s", (var2.get()))
#     rows = cursor.fetchall()
#     if len(rows) != 0:
#         busList.delete(*busList.get_children())
#         for row in rows:
#             busList.insert('', END, values=row)
#         con.commit()
#     cursor.close()
#     con.close()

# #search by source
# def searchSource():
#     con = mysql.connect(host="localhost"
#     cursor = con.cursor()
#     cursor.execute("select * from bus where source=%s", (var3.get()))
#     rows = cursor.fetchall()
#     if len(rows) != 0:
#         busList.delete(*busList.get_children())
#         for row in rows:
#             busList.insert('', END, values=row)
#         con.commit()
#     cursor.close()
#     con.close()

# #search by destination
# def searchDestination():
#     con = mysql.connect(host="localhost"
#     cursor = con.cursor()
#     cursor.execute("select * from bus where destination=%s", (var4.get()))
#     rows = cursor.fetchall()
#     if len(rows) != 0:
#         busList.delete(*busList.get_children())
#         for row in rows:
#             busList.insert('', END, values=row)
#         con.commit()
#     cursor.close()
#     con.close()

# #search by departure time
# def searchDepartureTime():
#     con = mysql.connect(host="localhost"
#     cursor = con.cursor()
#     cursor.execute("select * from bus where departureTime=%s", (var5.get()))
#     rows = cursor.fetchall()
#     if len(rows) != 0:
#         busList.delete(*busList.get_children())
#         for row in rows:
#             busList.insert('', END, values=row)
#         con.commit()
#     cursor.close()
#     con.close()

# #search by arrival time
# def searchArrivalTime():
#     con = mysql.connect(host="localhost"
#     cursor = con.cursor()
#     cursor.execute("select * from bus where arrivalTime=%s", (var6.get()))
#     rows = cursor.fetchall()
#     if len(rows) != 0:
#         busList.delete(*busList.get_children())
#         for row in rows:
#             busList.insert('', END, values=row)
#         con.commit()
#     cursor.close()
#     con.close()

# #search by fare
# def searchFare():
#     con = mysql.connect(host="localhost" , user="root", password="Yaswanth@02", database="bus")
#     cursor = con.cursor()
#     cursor.execute("select * from bus where fare=%s", (var7.get()))
#     rows = cursor.fetchall()
#     if len(rows) != 0:
#         busList.delete(*busList.get_children())
#         for row in rows:
#             busList.insert('', END, values=row)
#         con.commit()
#     cursor.close()
#     con.close()

SyntaxError: invalid syntax (<ipython-input-7-b1634e750568>, line 17)